body {
	font: 14px/1.6em 'Open Sans', sans-serif;
	margin: 0;
}

*,::after,::before{ box-sizing:border-box; }

.container {
	max-width: 1400px;
	margin: 0 auto;
}

header.main {
	position: fixed;
	width: 100%;
	padding: 50px 0;
	z-index: 100;
}

header.main .container {
	display: flex;
}

header.main .logo {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-size: 1.75em;
	letter-spacing: 2px;
	color: #fff;
	padding: 0 20px;
}

header.main .logo * {
	display: block;
}

header.main .logo .pre,
header.main .logo .sub {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 0.9em;
}

header.main .logo .name {
	font-family: 'Sansita', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
    line-height: 1.2em;
    margin-top: -20px;
}

.emotion {
	height: 75vh;
	width: 100%;
}

.emotion .bg {
	height: 75vh;
	width: 100%;
	background-image: url(https://images.pexels.com/photos/1267473/pexels-photo-1267473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: center center;
	background-size: cover;
	background-repeat: none;
	position: relative;
}

.chevron::before {
	border-style: solid;
	border-color: #ccc;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 14px;
    left: 9px;
    position: relative;
    width: 14px;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: -5px;
	left: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.emotion .book {
	bottom: 0;
	width: 100%;
	z-index: 1;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.emotion .book .cell,
.emotion .book button {
	width: 50%;
}

.emotion .book .cell {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-right: 1px solid #eee;
	justify-content: center;
	align-items: center;
}

.emotion .book .cell:hover {
	cursor: pointer;
}

.emotion .book .cell.persons {
	flex-direction: row;
	width: 100%;
	padding: 0;
}

.emotion .book .cell .half {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	border-right: 1px solid #eee;
	padding: 10px;
}

.emotion .book .check-out,
.emotion .book .cell .half:last-child {
	border-right: 0 none;
}

.emotion .book .check-in,
.emotion .book .check-out {
	border-bottom: 1px solid #eee;
}

.emotion .book .cell .label {
    color: #aaa;
    font-size: 0.8em;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.emotion .book button {
	text-transform: uppercase;
	background: #ffc600;
	color: #000;
	display: block;
	border: 0 none;
	font-size: 1em;
	outline: 0 none;
	cursor: pointer;
	width: 100%;
	padding: 25px;
}

@media (min-width: 1200px) {
	.emotion,
	.emotion .bg {
		height: 100vh;
	}
	.emotion .book {
		font-size: 1.1em;
		position: absolute;
	}
	.emotion .book .cell,
	.emotion .book .cell.persons,
	.emotion .book button {
		width: 25% !important;
	}
	.emotion .book .cell {
		flex-direction: row;
	}
	.emotion .book .check-in,
	.emotion .book .check-out {
		border-bottom: 0 none;
	}
	.emotion .book .check-in .chevron:before,
	.emotion .book .check-out .chevron:before {
		left: 10px;
	}
	.emotion .book .cell .half,
	.emotion .book .cell.persons {
		border-right: 0 none;
	}
	.emotion .book .check-out,
	.emotion .book .cell .half:last-child {
		border-right: 1px solid #eee;
	}
	.emotion .book .cell .label {
		margin-right: 10px;
		margin-top: 5px;
		width: auto;
	}
}